

  .dadosForm {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height:100%;
    padding: 20px 0 20px 0;
    text-align: center;
    font-weight: 500;
  }
  .question {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    margin: 0% auto 20px auto;
  }
  
  .input-box input {
    text-align: center;
    width: 60%;
    padding: 10px;
    border: 2px solid transparent;
    border-radius:10px;
    background-color: #f1f3f5;
  }
  
  .continue-button {
    background: linear-gradient(#185a9d,#35a582);
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 20px;
    border-radius: 8px;
  }
  
  .continue-button:hover {
    background: linear-gradient(#13477a,#26795e);
  }
  .dificulty-button{
    background: linear-gradient(#185a9d,#35a582);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 15px 5px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 20px;
    border-radius: 8px;
  }
  .dificulty-button:hover {
    background-color:  rgb(112, 29, 29);
  }
