.TopTen{
  margin: 15px 0px 10px 0px;
  padding: 5px;
  font-size: 25px;
  color: white;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: brown;
  border: 0px solid transparent;
  border-radius: 10px;
}