.temporizador-container {
    background-color: #e9ecef;
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transform: scale(0.5);
  }
  
  .temporizador-container.ativo {
    background-color: #18bc9c;
  }
  
  .temporizador-display {
    font-size: 44px;
    font-weight: bold;
    color: #000;
  }
  
  .temporizador-container.ativo .temporizador-display {
    color: #fff;
  }

  .tempo-restante{
    font-size: 44px;
    font-weight: bold;
    color: #000;
  }
  