#PainelJogo {
    display: flex;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    width: 570px;
    height: 570px;
    background-color: rgb(255, 255, 255);
}

 
#NoveTabuleirosJogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6px;
    color: rgb(193, 193, 206);
}

.Tabuleiros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    color: rgb(193, 193, 206);
}

.Quadrados{
    background-color: rgba(7, 20, 65, 0.9);
    font-size: 34px;
    color: red;
    border: none;
    width: 55px;
    height: 55px;
}

.Quadrados-X{
    color: rgb(0, 192, 0);
}

.Quadrados-O{
    color: rgb(47, 73, 190);
}