#PainelJogo {
    /* display: block; */
    width: 300px;
    height: 300px;
    color: rgb(193, 193, 206);
    background-color: rgb(105, 123, 172);
}

 
#NoveTabuleirosJogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    color: rgb(193, 193, 206);
}

.Tabuleiros{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2px;
    color: rgb(193, 193, 206);
}

.Quadrados{
    background-color: black;
    border: none;
    width: 40px;
    height: 40px;
}