.ButtonC{
    margin: 1% 0px 10% 0px;
    padding: 5px;
    font-size: 25px;
    color: white;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(#185a9d,#35a582);
    border: 0px solid transparent;
    border-radius: 10px;
}